<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.scss">
</head>
<body>
    <div class="container red">
        <div class="box darken-4"><span>Darken 4</span></div>
        <div class="box darken-3"><span>Darken 3</span></div>
        <div class="box darken-2"><span>Darken 2</span></div>
        <div class="box darken-1"><span>Darken 1</span></div>
        <div class="box base-color"><span>Base Color</span></div>
        <div class="box lighten-1"><span>Lighten 1</span></div>
        <div class="box lighten-2"><span>Lighten 2</span></div>
        <div class="box lighten-3"><span>Lighten 3</span></div>
        <div class="box lighten-4"><span>Lighten 4</span></div>
    </div>
    <div class="container blue">
        <div class="box darken-4"><span>Darken 4</span></div>
        <div class="box darken-3"><span>Darken 3</span></div>
        <div class="box darken-2"><span>Darken 2</span></div>
        <div class="box darken-1"><span>Darken 1</span></div>
        <div class="box base-color"><span>Base Color</span></div>
        <div class="box lighten-1"><span>Lighten 1</span></div>
        <div class="box lighten-2"><span>Lighten 2</span></div>
        <div class="box lighten-3"><span>Lighten 3</span></div>
        <div class="box lighten-4"><span>Lighten 4</span></div>
    </div>
    <div class="container green">
        <div class="box darken-4"><span>Darken 4</span></div>
        <div class="box darken-3"><span>Darken 3</span></div>
        <div class="box darken-2"><span>Darken 2</span></div>
        <div class="box darken-1"><span>Darken 1</span></div>
        <div class="box base-color"><span>Base Color</span></div>
        <div class="box lighten-1"><span>Lighten 1</span></div>
        <div class="box lighten-2"><span>Lighten 2</span></div>
        <div class="box lighten-3"><span>Lighten 3</span></div>
        <div class="box lighten-4"><span>Lighten 4</span></div>
    </div>
</body>
</html>