/* 
div[class^="box"] { 
    border: 1px solid black;
    border-radius: 8px;
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    background-color: lightblue;
} 
*/


/*
color:lighten($color,10%);
color:darken($color,10%); 
*/

