@use './base.scss' as *;
@use './theme-red.scss' as *;
/* @use './theme-blue.scss' as *; */


.box{
    height: 70px;
    width: 100px;
    padding: 16px;
    border: 1px solid #bebebecb;
    gap: 1px;
    box-sizing: border-box;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 13px;
    @include rounder-corners-all($radius);
}

.base{
    background-color: $base-color;
}

.important{
    background-color: darken($base-color, 30%);
}

.warning{
    background-color: lighten($base-color, 30%);
}

.shadow{
    box-shadow: $shadow-x $shadow-y 12px #0b0b0b;
}