
$base-color: red;
$radius: 2px;
$shadow-x: -10px;
$shadow-y: 10px;


.principal{
    font-family: Arial, Helvetica, sans-serif;
}

.secondary{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 550;
}