$sz-scrn-5el: 1670px;
$sz-scrn-4el: 1335px;

$sz-scrn: 1280px;
$sz-tblt: 768px;
$sz-mbl: 320px;


$sz-img-top-min-width: 225px;
$sz-img-min-width: 250px;

$sz-max-top-sect-height: 275px;

$transform-scale: 1.05;

$sz-max-sect-height: 200px;

$clr-background: #141414;
$clr-txt: white;
$clr-nav-hover: whitesmoke;

$fw-bold: 900;
$fw-semi-bold: 500;

$fs-nav: 1rem;
$fs-nav-tb: 1.25rem;
$fs-nav-mbl: 1.5rem;

$fs-section: 1.5rem;
$fs-section-tb: 2rem;
$fs-section-mbl: 2.5rem;

$hdr-height: 6rem;
$hdr-height-tb: 8rem;
$hdr-height-mbl: 10rem;

$sz-hdr-btn-width: 10rem;
$sz-hdr-btn-width-tb: 15rem;
$sz-hdr-btn-width-mbl: 20rem;

$sz-hdr-logo: 5rem;
$sz-hdr-logo-tb: 7rem;
$sz-hdr-logo-mbl: 9rem;