@use './base.scss' as *;

/*  // ===  Mobil  === //  */
@media screen and (min-width: $sz-mbl) and (max-width: (($sz-tblt)-1)){
    $header-height: 10rem;
    $fs-nav: 1.5rem;

    header { height:$header-height; }
    .top-title{ margin-top: $header-height; }

    .header-buttons { font-size: $fs-nav; width: 20rem;}

    body{ background-color: green; }

    .platform-title{ display: none }
    .header-logo > img { height: 10rem; }
}

/*  // ===  Tablet  === //  */
@media screen and (min-width: $sz-tblt) and (max-width: $sz-scrn){
    header { height:$header-height; }
    .top-title{ margin-top: $header-height; }

    .header-buttons { font-size: $fs-nav;width: 10rem;}

    body{ background-color: red; }

    .platform-title{ display: none; font-size: $fs-logo; }
    .header-logo > img { height: 5rem; }

    .top-title #top-text::after{ content: '3'; }

    .top .top-item:nth-child(1),
    .top .top-item:nth-child(2) { display: none; }
}

/* // ===  3 elementos   === // */
@media screen and (min-width: ($sz-scrn+1)) and (max-width: $sz-scrn-4el){
    header { height:$header-height; }
    .top-title{ margin-top: $header-height; }

    .header-buttons { font-size: $fs-nav;width: 10rem;}

    body{ background-color: $clr-background; }

    .platform-title{ display: block }
    .header-logo > img { height: 5rem; }

    #top-text::after{ content: '3'; }

    .top .top-item:nth-child(1),
    .top .top-item:nth-child(2) { display: none; }
}
/* // ===  4 elementos   === // */
@media screen and (min-width: ($sz-scrn-4el+1)) and (max-width: $sz-scrn-5el){
    header { height:$header-height; }
    .top-title{ margin-top: $header-height; }

    .header-buttons { font-size: $fs-nav;width: 10rem;}

    body{ background-color: $clr-background; }

    .platform-title{ display: block }
    .header-logo > img { height: 5rem; }

    #top-text::after{ content: '4'; }

    .top .top-item:nth-child(1){ display: none; }
}
/* // ===  5 elementos   === // */
@media screen and (min-width: ($sz-scrn-5el+1)){
    header { height:$header-height; }
    .top-title{ margin-top: $header-height; }

    .header-buttons { font-size: $fs-nav;width: 10rem;}

    body{ background-color: $clr-background; }

    .platform-title{ display: block }
    .header-logo > img { height: 5rem; }

    #top-text::after{ content: '5'; }
}