@use './_base.scss' as *;
@use './_media-queries.scss' as *;
@use './_variables.scss' as *;
@use './_mixins.scss' as *;

body{
    background-color: $clr-background; 
    font-family: 'Jost', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 1rem 0.875rem 1rem;
    position: fixed;
    top:0;
    background-color: $clr-background;
    z-index: 1;

    .header-logo{
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 1rem;

        .platform-title{
            color:$clr-txt;
        }
    }

    .header-buttons{
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: $clr-txt;

        & div{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 3rem;
            width: 4rem;
            border-radius: 0.25rem;
        }
    }
}

.section-title{
    color: $clr-txt;
    font-weight: $fw-semi-bold;
    padding: 2rem 1rem 0rem 1rem; 

    #top-text::after {
        font-weight: $fw-bold;
    }
}

.top,
.first,
.second {
    display: flex;

    img {
        min-width: $sz-img-top-min-width;
        box-sizing:border-box;
        flex-grow: 1; 
        height:100%;
        transition: transform .5s;
    }
}

.top{
    min-width: $sz-img-top-min-width;

    .top-item{
        display: flex;
        min-width: $sz-img-top-min-width;
        flex-grow: 1;
        height:100%;
    }
}

.first,
.second{
    padding: 1.5rem 1rem 0.25rem 1rem;

    .item {
        display: flex;
        flex-grow: 1; 
        height:100%;
        padding: 0.25rem;
        min-width: $sz-img-min-width;
    }
}