@media screen and (max-width: 768px) { 
    .toolbar{
        display: none;
    }

    .page-container{
        display: flex;
        flex-direction: column;
    }

    nav{
        position: sticky;
        top:0;
    }

    .menu-container{
        display: flex;
        justify-content: space-around;
        
        .menu-title{
            display: none;
        }

        & ul {
            display:flex;
            justify-content: space-around;
            
            & li{
                width: 15vw;
            }
        }
    }
}

@media screen and (min-width: 769px) { 
    .toolbar{
        display: flex;
    }

    .page-container{
        display: grid;
    }

    .menu-container{
        .menu-title{
            display: flex;
        }

        & ul {
            cursor: pointer;
            display:inline;
            padding:0px;
            
            :hover{
                background-color: #CDDF1B;
                color: olive;
            }

            :active{
                position: relative;
                top: 1px;
            }
        }
    }

    .page-container{
        grid-template-columns: 15% auto;
    }
}