@media screen and (max-width: 768px) { 
    .toolbar{
        display: none;
    }

    .page-container{
        display: flex;
        flex-direction: column;
    }

    nav{
        position: sticky;
        top:0;
    }

    .menu-container{
        display: flex;
        justify-content: space-around;

        .menu-title{
            display: none;
        }

        & ul {
            display:flex;
            justify-content: space-around;
            
            & li{
                width: 15vw;
            }
        }
    }

    .list{
        .card{
            flex-direction: row;
            justify-content: flex-start;
            width: 95%;
            margin:2px;
            
            .member-name{
                margin-left: 16px;
            }
        }
    }
}

@media screen and (min-width: 769px) { 
    .toolbar{
        display: flex;
    }

    .page-container{
        display: grid;
    }

    .menu-container{
        .menu-title{
            display: flex;
        }

        & ul {
            cursor: pointer;
            display:inline;
            padding:0px;
            
            :hover{
                background-color: #CDDF1B;
                color: olive;
            }

            :active{
                position: relative;
                top: 1px;
            }
        }
    }

    .page-container{
        grid-template-columns: 15% auto;
    }

    .list{
        .card{
            flex-direction: column;
            justify-content: center;
            flex-wrap: wrap;
            width: 200px;
            margin:8px;
            border: 1px solid grey;
        }
    }
}