<mat-toolbar color="accent" class="container">
  <img src="{{ imageSrc }}" alt="{{ imageAlt }}" />
  <span>My App</span>
  <button mat-button routerLink="dashboard">Dashboard</button>
  <button mat-button routerLink="gallery">Gallery</button>
  <button mat-button routerLink="rotation">Rotation</button>
  <button mat-button routerLink="crud">CRUD</button>
  <button mat-button routerLink="profile">Profile</button>

  <!-- <span class="example-spacer"></span> -->
  <span> {{ loggedUser() }}</span>
  <!-- <button mat-button (click)="logout()">Logout</button> -->
  <button mat-button (click)="logout()">Logout</button>
</mat-toolbar>
