:root {
  margin: 0px;
  padding: 0px;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

html,
body {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 50vh;
}

h1 {
  font-weight: 300;
  font-size: 2rem;
  display: flex;
  justify-content: center;
}

.list-box {
  display: flex;
  padding: 16px;
}
